@font-face{
	font-family: 'ProductSans-Regular';
	src:url(Prod-Sans-Regular.ttf);
}


@font-face{
	font-family: 'ProductSans-Bold';
	src:url(Prod-Sans-Bold.ttf);
}


#body{
	width: 100%;
	background: #F7F8F9;
	margin: 0;
	padding: 0;
	font-family: 'ProductSans-Regular', 'ProductSans-Bold';
	overflow: hidden;
}

#projectSaarathi, #saarathiGoldLink, #saarathiInteractLink, #saarathiPaperLink_1_, #projectTwyno, #twynoPaperLink, #adaaLiveLink, #projectNuclear,
#projectTapTrac, #uncowlifyKantarLink, #nuclearKantarLink, #projectUncowlify, #projectSlowFun, #projectMicrosoft, #projectWeCycle, #projectWT20, 
#projectIRCTC, #btnBehance, #btnResume, #ibmLink, #geLink, #deloitteLink, #microsoftLink, #hotstarLink, #phonepeLink, #smhsLink, #manipalLink, 
#nidLink_1_, #htwLink, #nidEmailLink, #perEmailLink, #behanceLink, #linkedinLink, #instaLink, #twitterLink, #nuclearPlayBtn, #uncowlifyPlayBtn {
	cursor:pointer;
}

#nidEmailLink:hover, #perEmailLink:hover, #behanceLink:hover, #linkedinLink:hover, #instaLink:hover, #twitterLink:hover {
	fill: #FF931E;
}






