@font-face{
	font-family: 'GillSans-Light';
	src:url(GillSans-Light.ttf);
}

@font-face{
	font-family: 'UniSansHeavy';
	src:url(Uni-Sans-Heavy.ttf);
}

@font-face{
	font-family: 'UniSansBook';
	src:url(Uni-Sans-Book.ttf);
}


#body{
	width: 100%;
	background: #000;
	margin: 0;
	padding: 0;
	font-family: 'GillSans-Light', 'UniSansBook', 'UniSansHeavy';
}


/* all styles for the first graph */
#N1945, #N1947, #N1948, #N1954, #N1956, #N1960, #N1962, #N1964, #N1965, 
#N1967, #N1968, #N1971, #N1974, #N1974a, #N1974b, #N1975, #N1978, #N1983, #N1983a, #N1983b, #N1988, #N1989, 
#N1991, #N1994, #N1995, #N1996, #N1998, #N1999, #N2001, #N2004, #N2005, 
#N2006, #N2007, #N2008, #N2009, #N2010, #N2011, #N2011a, #N2011b, #N2012, #N2012a, #N2012b, #N2013, #N2014,
#N2015, #N2016, #atom
{
	cursor: pointer;
	opacity:1;
}


#N1945:hover, #N1947:hover, #N1948:hover, #N1954:hover, #N1956:hover, #N1960:hover, #N1962:hover, #N1964:hover, #N1965:hover, 
#N1967:hover, #N1968:hover, #N1971:hover, #N1974:hover, #N1974a:hover, #N1974b:hover, #N1975:hover, #N1978:hover, 
#N1983:hover, #N1983a:hover, #N1983b:hover, #N1988:hover, #N1989:hover, 
#N1991:hover, #N1994:hover, #N1995:hover, #N1996:hover, #N1998:hover, #N1999:hover, #N2001:hover, #N2004:hover, #N2005:hover, 
#N2006:hover, #N2007:hover, #N2008:hover, #N2009:hover, #N2010:hover, #N2011:hover, #N2011a:hover, #N2011b:hover, #N2012a:hover, #N2012b:hover, 
#N2012:hover, #N2013:hover, #N2014:hover, #N2015:hover, #N2016:hover, #atom:hover, #mainYellow:hover, #mainRed:hover, 
#mainPurple:hover, #mainGreen:hover, #mainGrey:hover, #mainAc:hover, #mainNT:hover, #mainGC:hover,
#coreEvent:hover, #encoEvent:hover, #deteEvent:hover, #minus3:hover, #plus3:hover, #plus1:hover
{
	opacity:1;
}

/* all styles for the filters in both graphs */
#mainYellow, #mainRed, #mainPurple, #mainGreen, #mainGrey, #mainAc, #mainNT, #mainGC,
#coreEvent, #encoEvent, #deteEvent, #minus3, #plus3, #plus1, #peaceNS, #tpWorld, #indiaSp, #firstNT,
#smWar, #majorGr, #otherNE
{
	cursor: pointer;
	opacity:0.6;
}


/* all styles for the second graph */
#p1939, 	#p1945, 	#p1947, 	#p1949, 	#p1952, 
#p1957, 	#p1958, 	#p1959, 	#p1960, 	#p1962,  	#p1963, 
#p1964, 	#p1965, 	#p1968, 	#p1971, 	#p1974, 	#p1975, 	#p1979, 
#p1982, 	#p1985, 	#p1986, 	#p1987, 	#p1989, 	#p1991, 
#p1995, 	#p1996, 	#p1998, 	#p1999, 
#p2001, 	#p2003, 	#p2006, 	#p2007, 	#p2008, 	#p2010, 
#p2011, 	#p2014, 	#p2015,  	#p2016
{
	opacity:1;
}	


#w1939, 	#wnt1945, 	#wwr1945, 	#wgr1945, 	#w1947, 	#w1949, 	#w1952, 
#w1957, 	#w1958, 	#w1959, 	#w1960, 	#wwra1962, 	#wwrb1962, 	#w1963, 
#w1964, 	#w1965, 	#w1968, 	#w1971, 	#w1974, 	#w1975, 	#w1979, 
#w1982, 	#w1985, 	#w1986, 	#w1987, 	#w1989, 	#wgra1991, 	#wgrb1991, 
#w1995, 	#wgra1996, 	#wgrb1996, 	#wgrc1996, 	#wot1998, 	#wnt1998, 	#w1999, 
#w2001, 	#w2003, 	#w2006, 	#w2007, 	#wgra2008, 	#wgrb2008, 	#w2010, 
#w2011, 	#wgra2014, 	#wgrb2014, 	#w2015, 	#wgr2016, 	#wota2016, 	#wotb2016 
{
	cursor: pointer;
	opacity:1;
}



#w1939:hover, 	#wnt1945:hover, 	#wwr1945:hover, 	#wgr1945:hover, 	#w1947:hover, 	#w1949:hover, 	
#w1952:hover, 	#w1957:hover, 	#w1958:hover, 	#w1959:hover, 	#w1960:hover, 	#wwra1962:hover, 	#wwrb1962:hover, 	
#w1963:hover, 	#w1964:hover, 	#w1965:hover, 	#w1968:hover, 	#w1971:hover, 	#w1974:hover, 	#w1975:hover, 	#w1979:hover, 	
#w1982:hover, 	#w1985:hover, 	#w1986:hover, 	#w1987:hover, 	#w1989:hover, 	#wgra1991:hover, 	#wgrb1991:hover, 	
#w1995:hover, 	#wgra1996:hover, 	#wgrb1996:hover, 	#wgrc1996:hover, 	#wot1998:hover, 	#wnt1998:hover, 	
#w1999:hover, 	#w2001:hover, 	#w2003:hover, 	#w2006:hover, 	#w2007:hover, 	#wgra2008:hover, 	#wgrb2008:hover, 	
#w2010:hover, 	#w2011:hover, 	#wgra2014:hover, 	#wgrb2014:hover, 	#w2015:hover, 	#wgr2016:hover, 	
#wota2016:hover, 	#wotb2016:hover,
#peaceNS:hover, #tpWorld:hover, #indiaSp:hover, #firstNT:hover,
#smWar:hover, #majorGr:hover, #otherNE:hover
{
	opacity:1;
}

/* all styles for the clearing filters */
#mainClear, #mainClearW{
	cursor: pointer;
	opacity: 0.1;
}


#md1945, 	#md1950, 	#md1955, 	#md1960, 	#md1965, 	#md1970, 
#md1975, 	#md1980, 	#md1985, 	#md1990, 	#md1995, 	#md1996, 
#md2000, 	#md2005, 	#md2010
{
	opacity: 0;
}


/* all styles for div description elements in both graphs */
#nd1945,  #nd1947,  #nd1948,  #nd1954,  #nd1956,  #nd1960,  #nd1962,  #nd1964,  #nd1965,  #nd1967,  
#nd1968,  #nd1971,  #nd1974,  #nd1974a,   #nd1974b,   #nd1975,  #nd1978,  #nd1983,  #nd1983a,   #nd1983b,
#nd1988,  #nd1989,  #nd1991,  #nd1994,  #nd1995,  #nd1996,  #nd1998,  #nd1999,  #nd2001,  #nd2004,  
#nd2005,  #nd2006,  #nd2007,  #nd2008,  #nd2009,  #nd2010, #nd2011,  #nd2011a, #nd2011b, #nd2012,  #nd2012a, #nd2012b,  #nd2013,  #nd2014, #nd2015, #nd2016,

#dw1939, #dwnt1945, #dwwr1945, #dwgr1945, #dw1947, #dw1949, #dw1952, #dw1957, #dw1958, #dw1959, #dw1960, 	#dwwra1962, 
#dwwrb1962, 	#dw1963, 	#dw1964, 	#dw1965, 	#dw1968, 	#dw1971, 	#dw1974, 	#dw1975, 	#dw1979, 	#dw1982, 
#dw1985, 	#dw1986, 	#dw1987, 	#dw1989, 	#dwgra1991, 	#dwgrb1991, 	#dw1995, 	#dwgra1996, 	#dwgrb1996, 
#dwgrc1996, 	#dwot1998, 	#dwnt1998, 	#dw1999, 	#dw2001, 	#dw2003, 	#dw2006, 	#dw2007, 	#dwgra2008, 
#dwgrb2008, 	#dw2010, 	#dw2011, 	#dwgra2014, 	#dwgrb2014, 	#dw2015, 	#dwgr2016, 	#dwota2016, 
#dwotb2016 {
	display: none;
	position: absolute;
	font-family: 'GillSans-Light';
	font-size: 12px;

	max-width: 240px; /*to make div width dynamic with respected to the text area inside it */
	min-width: 100px;

	padding: 2px;
	color: #BDCCD4;

	float:  left; /*to make div width dynamic with respected to the text area inside it */
   	clear: left;  /*to make div width dynamic with respected to the text area inside it */

	text-shadow: 0px 0px 3px rgba(0,0,0,0.7);
	z-index: 100;
	background: rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
 
}